@charset "utf-8";

    body,h1,h2,h3,h4,h5,h6,p{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    body{
        min-width: 1000px;
        font-family: 'NotoSans', 'Noto Serif KR', 'sans-serif';
    }
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    a{
        text-decoration: none;
        color: #000;
    }
    .cf:after{
        content: "";
        display: block;
        clear:both;
    }
    .inner{
        width: 1200px;
        margin: 0 auto;
    }
    #warp{
        width: 100%;
    }
    #container{
        width: 100%;
        padding-top: 80px;
    }
    /*반응형관련*/
    #wrap{
        display: block;
    }
    #mWrap{
        display: none;
    }
    .subTit{
        display: none;
    }

