@charset "utf-8";
@media screen and (min-width:768px){
/*header*/
#header{
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 100;
}
#header .inner h1{
    width: 140px;
    padding-top: 18px;
    float: left;
}
#header .inner h1 a{
    display: block;
}
#header .inner h1 a img{
    width: 178px;
    height: 45px;
}

/*gnb*/
.gnb{
    height: 80px;
    line-height: 80px;
    font-size: 0;
    float: left;
    margin-left: 210px;
}
.gnbAct{
    font-size: 16px;
    line-height: 16px;
    float: left;
    padding: 37px 40px 0 40px;
    position: relative;
}
.gnbAct a{
    color: #333;
    display: block;
    padding: 5px;
}
.gnbAct:hover .gndName{
}
.gnbAct:hover .lnb{
    max-height: 1000px
}
.gnbAct a:after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #008cff;
    margin: 0 auto;
    margin-top: 5px;
    transition: all 0.2s linear;
}
.gnbAct:hover a:after{
    width: 100%;
}
.gnbAct:hover .lnb li a:after{
    display: none;
}
/*navStatic*/
.navWrap{
    width: 100%;
}
.navStatic{
    position: fixed;
    top: 85px;
    right: 5px;
    z-index: 10;
}
.navStatic img{
    width: 80px;
    /*border: 7px solid #dad9d4;*/
}
/*2차메뉴*/
.lnb{
    width: 100%;
    position: absolute;
    left: 0;
    top: 80px;
    background: #fff;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.09);
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s;
}
.lnb li{
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    box-sizing: border-box;
}
.lnb li a{
    font-size: 13px;
    display: block;
    color: #343434;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 5px;
}
.lnb li p{
    font-size: 13px;
    display: block;
    color: #343434;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 5px;
}
.lnb .lnbS{
    height: 100%;
}
.lnb .lnbS a{
    font-size: 12px;
    color: #797979;
}
/*3차메뉴*/
.lnb .lnbS .lnbSlnb li{
    height: 35px;
}

/*footer*/
#mFooter{
    display: none;
}
#footer{
    margin-top: 150px;
}
#footer ul li{
    float: left;
}

.footerTop{
    padding: 120px 0;
}
.footerBnr{
}
.footerBnr li{
    margin-right: 60px;
}
.footerBnr li a{
    display: block;
    font-size: 0;
}

.footerBottom{
    width: 100%;
    background: #303030;
    margin: 0 auto;
    margin-top: 80px;
}
.footerInfo{
    padding: 40px 0;
}
.footerBottom .footerLogo{
    float: left;
}
.footerBottom .footerLogo a{
    display: block;
}
.footerBottom .footerLogo a img{
    width: 178px;
    height: 46px;
}
.footerInfo ul li{
}
.footerInfo ul li:after{
    content: "";
    display: inline-block;
    width: 1px;
    height: 9px;
    background: #fff;
    margin: 0 10px;
}
.footerInfo ul li:last-child:after{
    display: none;
}
.infoTxt{
    float: left;
    padding: 32px 0 0 30px;
}
.infoTxt ul{
    margin-bottom: 20px;
}
.infoTxt .first{
    padding-left: 60px;
}
.infoTxt ul li{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
}
.infoTxt .first:before{
    content: "";
    display: inline-block;
    width: 1px;
    height: 9px;
    background: #fff;
    margin: 0 10px;
}
.infoTxt p{
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    padding-top: 10px;
}
.footerSns{
    float: right;
}
.footerSns li{
    margin-left: 15px;
}
.footerSns li a{
    display: block;
}
.footerInfo .footerSns li:after{
    display: none;
}
}