@charset "utf-8";

/*hover*/
.gnb .gnbAct .on3{
    color: #008cff;
}
/*navStatic*/
.navWrap{
    width: 100%;
}
.navStatic{
    position: fixed;
    top: 335px;
    right: 5px;
    z-index: 10;
}
.navStatic img{
    width: 80px;
}

/*license*/

.sub01Slider{
    height: 250px;
    overflow: hidden;
    position: relative;
}
.sub01Slider img{
    position: absolute;
    left: 50%;
    margin-left: -960px;
}

/*서브네비게이션*/
.subNav{
    width: 1200px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    left: 50%;
    margin-left: -600px;
    background: #fff;
}
.subNav li{
    height: 50px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    float: left;
}
.subNav li.nav2, .subNav li.nav3{
    height: 49px;
    line-height: 49px;
}
.nav1{
    width: 50px;
    background: #008cff url(../images/common/icon_home.png) no-repeat;
    text-indent: -9999px;
    border: 0;
}
.nav2{
    padding: 0 30px;
}
.subNav li a{
    background: url(../images/common/icon_ar.png) no-repeat;
    background-position: right center;
    height: 100%;
    color: #000;
    padding: 0 30px;
    display: block;
    position: relative;
}
.nav3{
    width: 200px;
}
.nav3 a{
}
/*2차메뉴*/
.nav3Lnb{
    width: 160px;
    margin-left: -1px;
    background: #fff;
    border-right: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    border-top: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s;
}
.nav3:hover .nav3Lnb{
    max-height: 500px;
}
.nav3Lnb li{
    width: 100%;
    border-top: 1px solid #e4e4e4;
    border-right: 0;
}
.nav3Lnb li a{ 
    background: #fff;
}
.nav3Lnb li a:hover{
    background: url(../images/common/icon_ar.png) no-repeat;
    background-position: right center;
}

/*내용*/
/*공통*/
.subInfo{
    padding-top: 140px;
    padding-bottom: 600px;
}
.subInfo h2{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
}
.subInfo ul{
    float: left;
    margin-bottom: 80px;
}
.subInfo ul li{
    margin-right: 40px;
    float: left;
}
.subInfo .last{
    margin-right: 0;
}
.subInfo ul li img{
    box-shadow: 19px 19px 12px -9px #e2e2e2;
}
.subInfo h4{
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
}
.subInfo p{
    font-size: 15px;
    font-weight: normal;
    margin-top: 10px;
}
.subInfo img{
    display: block;
}
.infoTit{
    width: 100%;
    border-bottom: 2px solid #ababab;
    margin-bottom: 85px;
}
/**/
.info02, .info03{
    margin-top: 120px;
}