@charset "utf-8";

/*상단메뉴 hover*/
.gnb .gnbAct .on4{
    color: #008cff;
}
/*navStatic*/
.navWrap{
    width: 100%;
}
.navStatic{
    position: fixed;
    top: 335px;
    right: 5px;
    z-index: 10;
}
.navStatic img{
    width: 80px;
}

/*mag*/

.sub01Slider{
    height: 250px;
    overflow: hidden;
    position: relative;
}
.sub01Slider img{
    position: absolute;
    left: 50%;
    margin-left: -960px;
}

/*서브네비게이션*/
.subNav{
    width: 1200px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    left: 50%;
    margin-left: -600px;
    background: #fff;
}
.subNav li{
    height: 50px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    float: left;
}
.subNav li.nav2, .subNav li.nav3{
    height: 49px;
    line-height: 49px;
}
.nav1{
    width: 50px;
    background: #008cff url(../images/common/icon_home.png) no-repeat;
    text-indent: -9999px;
    border: 0;
}
.nav2{
    width: 160px;
}
.subNav li a{
    background: url(../images/common/icon_ar.png) no-repeat;
    background-position: right center;
    height: 100%;
    color: #000;
    padding: 0 30px;
    display: block;
    position: relative;
}
.nav3{
    width: 160px;
}
.nav3 a{
}
/*2차메뉴*/
.nav3Lnb{
    width: 160px;
    margin-left: -1px;
    background: #fff;
    border-right: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    border-top: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s;
}
.nav2:hover .nav3Lnb{
    max-height: 500px;
}
.nav3:hover .nav3Lnb{
    max-height: 500px;
}
.nav3Lnb li{
    width: 100%;
    border-top: 1px solid #e4e4e4;
    border-right: 0;
    border-bottom: 0;
}
.nav3Lnb li:last-child{
    border-bottom: 1px solid #e4e4e4;
}
.nav3Lnb li a{ 
    background: #fff;
}
.nav3Lnb li a:hover{
    background: url(../images/common/icon_ar.png) no-repeat;
    background-position: right center;
}

/*내용*/
/*공통*/
.subInfo{
    padding-top: 148px;
}
.subInfo h2{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
}
.subInfo .last{
    margin-right: 0;
}
.subInfo h4{
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}
.subInfo p{
    font-size: 15px;
    font-weight: normal;
    margin-top: 10px;
}
.subInfo img{
    display: block;
}
.infoTit{
    width: 100%;
    border-bottom: 2px solid #ababab;
    margin-bottom: 85px;
}
.infoIn01{
    margin-bottom: 500px;
}

/*figure*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
figure.snip1283 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 580px;
  max-width: 580px;
  max-height: 207.8px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  background-color: #07090c;
  font-size: 16px;
  -webkit-perspective: 50em;
  perspective: 50em;
    float: left;
}
figure.snip1283 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
figure.snip1283 img {
  opacity: 1;
  width: 100%;
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}
figure.snip1283 figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  z-index: 1;
  opacity: 0;
  padding: 20px 30px;
}
figure.snip1283 h3,
figure.snip1283 p {
  line-height: 1.5em;
}
figure.snip1283 h3 {
  margin: 0;
  font-weight: 800;
  text-transform: uppercase;
}
figure.snip1283 p {
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 15px;
}
figure.snip1283 .read-more {
  border: 2px solid #ffffff;
  padding: 0.5em 1em;
  font-size: 0.8em;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
    position: absolute;
    bottom: 30px;
    left: 5%;
    width: 200px;
    text-align: center;
}
figure.snip1283 .read-more:hover {
  background-color: #ffffff;
  color: #000000;
}
figure.snip1283:hover img,
figure.snip1283.hover img {
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  opacity: 0;
}
figure.snip1283:hover figcaption,
figure.snip1283.hover figcaption {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}




