@charset "utf-8";
@media screen and (max-width:768px){
    .companyInfo{
        width: calc(100% - 40px);
        margin: 0 auto;
    }
    .companyInfo h3{
        font-size: 23px;
        font-family: "TmonMonsori";
        color: #103e56;
        line-height: 80px;
        text-align: center;
    }
    .companyInfo img{
        width: 100%;
    }
    .infoTit{
        width: 100%;
        padding: 30px 0;
    }
    .infoTit h2{
        font-size: 17px;
        text-align: center;
        color: #454545;
    }
    .info01Txt{
    }
    .info01 dl{
        width: 300px;
        overflow: hidden;
        text-align: left;
        margin: 15px auto;
    }
    .info01 dl dt{
        width: 60px;
        float: left;
        font-size: 15px;
        margin-right: 10px;
        color: #103e56;
        font-weight: bold;
    }
    .info01 dl dd{
        float: left;
        font-size: 14px;
    }
    .info02,.info03,.info04{
        margin: 50px 0;
    }
    .info02{}
    .info02 p{
        font-size: 15px;
        line-height: 26px;
    }
}