@charset "utf-8";
@media screen and (max-width:768px){

    body,p,h1,h2,h3,h4,h5,h6{
        margin: 0;
        padding: 0;
    }
    body{
        max-width: 1000px;
        min-width: 100%;
        margin: 0 auto;
        font-family: 'NotoSans','GoyangIlsan',sans-serif;
    }
    ul,dl,dt,dd,ol{
        margin:0;
        padding:0;
        list-style: none;
    }
    a{
        text-decoration: none;
        color: #000;
    }
    .cf:after{
        content: "";
        display: block;
        clear: both;
}
    .inner{
        width: 100%;
        margin: 0 auto;
    }
    #wrap{
        display: none;
    }
    #mWrap{
        display: block;
        width: 100%;
    }
    #container{
        border-top: 1px solid #ccc;
        margin-bottom: 60px;
        padding-top: 0;
        font-family: "GoyangIlsan";
    }
}