@charset "utf-8";
@media screen and (max-width:768px){
    #wrap{
        display: block;
    }
    #header{
        display: none;
    }
    #mobi{
        display: block;
    }
    #mHeader{
        display: block;
    }
    .sub01Slider{
        display: none;
    }
    .subNav{
        display: none;
    }
    .subWrap{
        width: calc(100% - 80px);
        margin: 0 auto
    }
    /*컨테이너*/
    #container{
        font-family: "GoyangIlsan";
    }
    .subTit{
        width: calc(100% - 80px);
        margin: 0 auto;
    }
    .subTit h3{
        font-size: 23px;
        font-family: "TmonMonsori";
        color: #103e56;
        line-height: 80px;
        text-align: center;
    }
    .subInfo{
        padding-top: 0;
    }
    .subInfo h2{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 30px;
    }
    .subInfo h4{
        font-size: 14px;
        line-height: 18px;
    }
    .infoTit{
        margin-bottom: 20px;
    }
    .subInfo ul{
        margin-bottom: 0;
    }
    .subInfo ul li{
        width: calc(50% - 10px);
        padding: 14px 0;
        margin-right: 20px;
    }
    .subInfo img{
        width: 100%;
    }
    .subInfo ul li:nth-child(2n+0){
        margin-right: 0;
    }
    .info01{
        padding-top: 30px;
    }
}